<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Locul perfect pentru a savura fiecare nuanță a artei japoneze Sushi, împreună cu bucuria boabelor de tapioca, direct la tine în pahar" />
        <meta name="keywords" content="sushi, bubble tea, bucatarie chinezeasca, restaurant chinezesc, sushi bar" />
        <title>| Eroare 404 | Sushimi * Sushi & Bubble Tea * </title>
              <%- include("../fragmente/head.ejs") %>
        <style> </style>

    </head>
    <body>
    
        <%- include("../fragmente/header.ejs") %>
    <main>
        <section>
            <h2>EROARE 404 - Adresă greșită.</h2>
        </section>
    </main>
    <%- include("../fragmente/footer.ejs") %>

    </body>
</html>