<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Locul perfect pentru a savura fiecare nuanță a artei japoneze Sushi, împreună cu bucuria boabelor de tapioca, direct la tine în pahar" />
        <meta name="keywords" content="sushi, bubble tea, bucatarie chinezeasca, restaurant chinezesc, sushi bar" />
        <title>| Coș virtual | Sushimi * Sushi & Bubble Tea * </title>

        <link rel="stylesheet" href="/resurse/css/cos-virtual.css" type="text/css" />
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src="/resurse/js/cos_virtual.js"></script>
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        
        <button id="cumpara">
            Înainte spre check-out
        </button>        
    
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>