<!DOCTYPE html>
<html lang="ro">
	<head>
		<title>Despre</title>
		<%- include("../fragmente/head") %>
        
		<link rel="stylesheet" type="text/css" href="/resurse/css/contact.css" />
	</head>
	<body class="container">
		<header>
			<%- include("../fragmente/header") %>
		</header>
		<main>
		
			<section id="despre">
				<h2>Despre noi!</h2>
                <p>Totul a început din copilăria noastră, acum aproape 20 de ani...</p>
                <p>Bunica celui mai bun prieten al meu, fiind de naționalitate japoneză, obișnuia să ne gătească cele mai interesante rețete posibile, cu specific asiatic...</p>
                <p>Noi mici fiind nu prea înțelegeam care era toată faza cu „sushi” sau de ce erau înnebuniți toți de el, dar cu timpul am ajuns să îi dăm dreptate bunicii... și peste măsură!</p>
                <p>Pentru noi, sushi este o artă care merită trăită și savurată ca la carte, fiind o poartă către legende de mult pierdute și gusturi clădite din generații de mult apuse în Țara Soarelui Răsare.</p>
			</section>
			<section id="istoric">
				<h2>Istoric</h2>
                <p>Restaurantul Sushimi împlinește anul viitor 20 de ani de practică în domeniu, iar echipa noastră vă mulțumește vouă pentru iubirea și bucuria cu care intrați pe ușa restaurantului în fiecare zi!</p>
                <p> Nu am fi fost nimic fără papilele voastre gustative! Haideți să ne bucurăm împreună de sushi și, de ce nu, și un bubble tea!</p>
			</section>
		</main>
		
		<%- include("../fragmente/footer") %>
		
	</body>
</html>