<footer>
    <a href="#" title="Îmtoarcere la îceputul paginii" id="link-top">
        <!-- Task 2.5 link-top -->
        <div id="triunghi"></div>
        <div id="triunghi_mic"></div>
    </a>
    <!-- <h5><a href="#">Revenire la începutul paginii</a></h5>  Task 1.11b -->
    <address>
        Contact: <a href="tel:+40712345678">(0700)-111-222 </a> <!-- Task 1.13 -->
        Adresă: <a
            href="https://www.google.ro/maps/place/Faculty+of+Mathematics+and+Informatics/@44.4355355,26.097398,17z/data=!3m1!4b1!4m5!3m4!1s0x40b1ff472f47f047:0x493984726f0235f9!8m2!3d44.4355355!4d26.0995867"
            target="_blank">București, Strada Sushi, Nr. 1 </a> <br />
        Email: <a href="mailto:sushimaster@gmail.com">sushimaster@gmail.com </a>
        WhatsApp: <a href="https://web.whatsapp.com/" target="_blank">(0700)-111-222</a>

    </address>
    <small>Copyright <time datetime="2022-03-20 20:00">20.03.2022</time> © Sushimi Bucuresti</small>
    <!-- Task 14 -->
</footer>